@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<h2>Index</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            @if (User.IsInRole("Moderator"))
            {
                <td>
                    @Html.ActionLink("User List", "UserList", new { id = item.Id }) |
                    @Html.ActionLink("Add User To Role", "AddUserToRole", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>